.monitor {
  width: 100%;
  height: 100%;
  background-color: var(--background-color-monitor-face);
  padding: 16px 8px;

  @media screen and (min-width: 768px) {
    padding: 16px 32px;
  }

  @media screen and (min-width: 1024px) {
    padding: 16px 64px;
  }

  .indent {
    width: 100%;
    height: 100%;
    background-color: #000000;
    border-style: solid;
    border-width: 16px;
    border-color: var(--background-color-monitor-indent-top) var(--background-color-monitor-indent-sides) var(--background-color-monitor-indent-bottom) var(--background-color-monitor-indent-sides);
    padding: 4px 8px;

    @media screen and (min-width: 768px) {
      padding: 16px 32px;
    }

    @media screen and (min-width: 1024px) {
      padding: 16px 64px;
    }

    .screen {
      position: relative;
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
    }
  }
}