.startMenu {
  display: contents;

  &>.window {
    display: flex;
    height: 198px; // 5 48px menu items + 2 2px dividers + 2 1px borders
    bottom: 100%;

    &[aria-hidden='true'] {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      white-space: nowrap;
      border: 0;
    }

    .gradient {
      padding: var(--spacing-small);
      writing-mode: sideways-lr;
      line-height: 1;
      font-size: var(--font-size-large);
      font-weight: bold;
      color: var(--color-white);
      background: var(--background-gradient-vertical);
      height: 100%;

      .thin {
        font-weight: normal;
      }
    }
  }

  .window {
    position: absolute;
    background-color: var(--background-color-window);
    border-width: 1px;
    border-style: solid;
    border-color: var(--border-color-bezel-raised-deep);

    .menuOptions {
      padding: 0;
      list-style-type: none;      

      .startMenuDivider {
        height: 2px;
        margin: 0 var(--spacing-small);
        background-color: var(--color-dark-grey);
        border-bottom: solid 1px var(--color-white);
      }

      .startMenuDirectory {
        position: relative;

        &:hover>.window {
          display: block;
        }

        &>.startMenuItem {
          cursor: pointer;

          &::after {
            content: url('../assets/icons/arrow.png');
            margin-left: auto;
            margin-right: var(--spacing-small);
          }
        }

        &>.window {
          display: none;
          left: calc(100% - var(--spacing-large));
          bottom: 0;

          @media screen and (min-width: 768px) {
            left: calc(100% - var(--spacing-small));
          }

          .startMenuItem {
            font-size: var(--font-size-small);

            .iconWrapper {
              height: 32px;
              width: 32px;

              .icon {
                height: 24px;
                width: 24px;
              }
            }
          }
        }
      }

      .startMenuItem {
        display: flex;
        align-items: center;
        color: var(--color-black);
        text-decoration: none;
        font-size: var(--font-size-small);
        text-wrap: nowrap;
        padding: 0;
        padding-right: var(--spacing-small);
        background-color: transparent;
        border: none;
        width: 100%;
        cursor: pointer;

        @media screen and (min-width: 768px) {
          font-size: var(--font-size-medium);
        }

        &:hover {
          color: var(--color-white);
          background-color: var(--color-dark-blue);
        }

        .iconWrapper {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: var(--spacing-small);
          height: 48px;
          width: 48px;
        }

        .underline {
          text-decoration: underline;
        }
      }
    }
  }

  .startButton {
    display: flex;
    align-items: center;
    column-gap: var(--spacing-small);
    font-weight: bold;
    font-size: var(--font-size-small);
    padding: 0 var(--spacing-small);
  }
}